.image{
    padding: 100px 0 100px 0;
    height: auto;
    background-image: none; background-repeat: no-repeat; background-size: cover; background-position: 0px 300px; background-size: 100% 100%;
    
}

@media only screen and (min-width: 992px) {
    .image { 
       background-image: url('./images/iStock-1026914886.jpg'); 
    }
  }

